@model Commentaire



<h1>Création d'un commentaire </h1>
<p>
    <h2>Veuillez créer votre commentaire</h2>
    <div asp-validation-summary="All"></div>


    <form asp-action="Add">
        <label>Nom de l'auteur :</label>
        <input asp-for="Auteur">
        <span asp-validation-for="Auteur" class="text-danger"></span>
        <br />
        <label>Contenu :</label>
        <input asp-for="Contenu">
        <span asp-validation-for="Contenu"></span>
        <br />

        <button class="btn btn-primary">Ajouter</button>
    </form>
</p>