@model Article

<h1>Dernier article modifié :</h1>


<div id="divContentArticles">
    <partial name="_articleDetail" model="Model" />
</div>

<a type="button" class="btn btn-primary" asp-action="Add">Créer un nouvel article</a>
